[submodule "arduino/Libraries/Ultrasonic"]
	path = arduino/Libraries/Ultrasonic
	url = git@github.com:JRodrigoTech/Ultrasonic-HC-SR04.git
[submodule "arduino/Libraries/BasicTerm"]
	path = arduino/Libraries/BasicTerm
	url = git@github.com:nottwo/BasicTerm.git
[submodule "arduino/Libraries/Troyka-IMU"]
	path = arduino/Libraries/Troyka-IMU
	url = https://github.com/nzamotaev/Troyka-IMU
[submodule "arduino/Libraries/arduino-softpwm"]
	path = arduino/Libraries/arduino-softpwm
	url = git@github.com:Palatis/arduino-softpwm.git
[submodule "arduino/Libraries/Arduino-PID-Library"]
	path = arduino/Libraries/Arduino-PID-Library
	url = git@github.com:br3ttb/Arduino-PID-Library.git
