[submodule "arduino/Libraries/Ultrasonic"]
	path = arduino/Libraries/Ultrasonic
	url = git@github.com:JRodrigoTech/Ultrasonic-HC-SR04.git
[submodule "arduino/Libraries/BasicTerm"]
	path = arduino/Libraries/BasicTerm
	url = git@github.com:nottwo/BasicTerm.git
[submodule "arduino/Libraries/Troyka-IMU"]
	path = arduino/Libraries/Troyka-IMU
	url = https://github.com/nzamotaev/Troyka-IMU
[submodule "arduino/Libraries/protothreads-arduino"]
	path = arduino/Libraries/protothreads-arduino
	url = git@github.com:fernandomalmeida/protothreads-arduino.git
